.item{
   box-shadow: 5px 5px 50px rgb(21, 20, 20), inset 5px 5px 100px rgb(26, 25, 25);
   position: relative;
   background: #343435;
   padding: 15px 0 15px 25px;
   display: flex;
   width: 90%;
   margin-top: 10px;
}
@media screen and (max-width: 1000px){
   
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 596px){
   .item{
      width: 98%;
   }
}
@media screen and (max-width: 420px){
   .item{
      flex-direction: column;
      padding: 5px 0px;
   }
}

.item_one{
   border-radius: 0 30px 0 0;
}
.triangle{
   position: absolute;
   top: 0;
   left: 0;
   width: 10px;
   height: 10px;
}
.triangle_orange{
   border: 10px solid transparent; 
   border-left: 10px solid #F7A01D; 
   border-top: 10px solid #F7A01D;
}
.triangle_blue{
   border: 10px solid transparent; 
   border-left: 10px solid #00AEEF; 
   border-top: 10px solid #00AEEF;
}
.triangle_red{
   border: 10px solid transparent; 
   border-left: 10px solid #EF5236; 
   border-top: 10px solid #EF5236;
}
.triangle_green{
   border: 10px solid transparent; 
   border-left: 10px solid #00A651;
   border-top: 10px solid #00A651;
}
.flag{
   overflow: hidden;
   width: 60px;
   height: 30px;
}
@media screen and (max-width: 420px){
   .flag{
      margin: 0 auto;
   }
}
p{
   padding-left: 20px;
}
img{
   display: block;
   height: 100%;
   width: 100%;
}
.text{
   width: 90%;
   text-align: start;
}
@media screen and (max-width: 420px){
   .text{
      margin-top: 10px;
      width: 100%;
   }
}