h1{
   margin: 20px 0;
   text-align: left;
}
.elements{
   width: 85%;
   margin: 0 auto;
}
@media screen and (max-width: 1000px){
   
}
@media screen and (max-width: 810px){
   h1{
      margin: 10px 0;
   }
}
@media screen and (max-width: 767px){
		
}
@media screen and (max-width: 520px){
   h1{
      margin: 5px 0;
   }
}
@media screen and (max-width: 420px){
   h1{
      margin: 2px 0;
   }
}