
.mainContainer{
   margin: 0 auto;
   width: 80%;
   padding: 0;
}
@media screen and (max-width: 1642px){
	
}
@media screen and (max-width: 1360px){
	
}
@media screen and (max-width: 1360px){
	
}
@media screen and (max-width: 992px){
   .mainContainer{
      width: 80%;
   }		
}
@media screen and (max-width: 810px){
   .mainContainer{
      width: 80%;
   }		
}
@media screen and (max-width: 797px){
   .mainContainer{
      
   }			
}
@media screen and (max-width: 610px){
   .mainContainer{
      
   }			
}
@media screen and (max-width: 597px){
   			
}
@media screen and (max-width: 510px){
	.mainContainer{
      
   }		
}
@media screen and (max-width: 480px){
	.mainContainer{
      max-width: 444px;
   }		
}
@media screen and (max-width: 250px){
	.mainContainer{
      width: 100%;
   }		
}