@font-face {
   font-family: 'Nexa';
   src: url('./fonts/Nexa-BookItalic.eot');
   src: local('★'), 
   url('./fonts/Nexa-BookItalic.otf') format('otf'), 
   url('./fonts/Nexa-BookItalic.woff2') format('woff2'), 
   url('./fonts/Nexa-BookItalic.woff') format('woff'), 
   url('./fonts/Nexa-BookItalic.svg') format('svg'),
   url('./fonts/Nexa-BookItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
}
body{
  height: 100vh;
  color: white;
  font-style: 19pt;
  font-family: Nexa;
  font-weight: bold;
  font-style: italic;
}
.App {
  background: #262626;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
::-webkit-scrollbar{
   display: none;
   width: 15px;
}
::-webkit-scrollbar-track{
   background: #444444;
   box-shadow: 0px 0px 3px #060606 inset;
}
::-webkit-scrollbar-thumb{
   background: #EF5236;
   border-radius: 10px;
   border: 4px solid #444444;
}
::-webkit-scrollbar-thumb:hover{
   background: linear-gradient(#F7A01D, #EF5236) ;
   border-radius: 10px;
   border: 4px solid #444444;
}